/* Stylesheet Document for Porteous Wxport Utility Window - Created - 09, 15, 2008 */

body {font-family:Arial, Helvetica, sans-serif;font-size:11px;}

.wndContainer{clear:both;overflow:hidden;border:1px solid #AADFEE;}
.wndTitle {clear:both;line-height:24px;overflow:hidden;background:url(../images/wndTitleBg.gif) repeat-x top;color:#FFFFFF;font-weight:bold;padding-left:10px;}
.wndControls{float:right; margin:0px;line-height:24px; padding:0px; margin-right:2px;border-left:1px solid #004B66;}
.wndBody{background:url(../images/wndBodyBg.jpg) repeat-x top;padding-top:5px;}
.wndTabs{clear:both;overflow:hidden;}
.wndTabs ul li{float:left;background:url(../images/wndTabLeft.gif) top left;margin:0px 2px;}
.wndTabs ul li a{display:block;color:#FFFFFF;font-weight:bold;margin-left:5px;text-decoration:none;padding:0px 15px 0px 10px;background:url(../images/wndTabRight.gif) top right;line-height:22px;}
.wndTabs ul li.on{background:url(../images/wndTabLeft.gif) left 23px;}
.wndTabs ul li.on a {background:url(../images/wndTabRight.gif) right 23px;color:#CC0000;display:block;margin-left:5px;padding:0px 15px 0px 10px;line-height:23px;}
.wndContent{background:#ECF4F6 url(../images/wndContentBg.jpg) repeat-x top; background-attachment:inherit; height:280px;margin:0px 0px 10px 10px;overflow:hidden;z-index:1;}
.wndTabs ul li .off{display:block;color:#FFFFFF;font-weight:bold;margin-left:5px;text-decoration:none;padding:0px 15px 0px 10px;background:url(../images/wndTabRight.gif) top right;line-height:22px;}
.FormControls {
	font-family: Tahoma, arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	width: 125px;
	margin-left: 1px;
}
/* -------------------- */
.LeftPadding {
	padding-left: 20px;
}
.PageHead {

	background-color: #EFF9FC;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #BCE6F2;
	font-size: 16px;
	font-weight: bold;
	color: #3A3A56;
	height: 40px;
}
.BannerText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight:normal;
	color: #CC0000;
	padding-right: 20px;
	padding-bottom: 5px;
}
body,td,th 
    {
	    font-family:  Helvetica, Arial,sans-serif;
	    font-size: 11px;
	    color: #003366;
    }
.Sbar
{ 
scrollbar-face-color: #9EDEEC;
scrollbar-shadow-color: #28AFCC;
scrollbar-highlight-color: #ECF8FB;
scrollbar-3dlight-color: #ffffff;
scrollbar-darkshadow-color: #B1E7F1;
scrollbar-track-color: #E4F7FA;
scrollbar-arrow-color: #1D7E94;
}
.TabHead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003366;	
}