if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CompleteCPR_70Cat]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[CompleteCPR_70Cat]
GO

CREATE TABLE [dbo].[CompleteCPR_70Cat] (
	[GroupNo] [nvarchar] (290) COLLATE Latin1_General_CS_AS NULL ,
	[ItemNo] [varchar] (20) COLLATE Latin1_General_CS_AS NOT NULL ,
	[LocationCode] [char] (10) COLLATE Latin1_General_CS_AS NOT NULL ,
	[Territory] [char] (20) COLLATE Latin1_General_CS_AS NULL ,
	[A_Flag] [int] NULL ,
	[TripleA_Flag] [int] NULL ,
	[Over6kFlag] [int] NULL ,
	[Avg3Mo] [numeric](24, 6) NULL ,
	[Avg6Mo] [numeric](24, 6) NULL ,
	[Avg12Mo] [numeric](24, 6) NULL ,
	[AvgCostM] [numeric](38, 6) NULL ,
	[Average Daily Usage] [numeric](38, 20) NULL ,
	[Usage30day] [numeric](38, 17) NULL ,
	[Base Unit of Measure] [varchar] (10) COLLATE Latin1_General_CS_AS NULL ,
	[CplItemClass] [varchar] (5) COLLATE Latin1_General_CS_AS NULL ,
	[Description] [varchar] (50) COLLATE Latin1_General_CS_AS NULL ,
	[DutyRate] [numeric](38, 20) NULL ,
	[ExtWgt] [numeric](38, 6) NULL ,
	[Fixed Velocity Code] [char] (10) COLLATE Latin1_General_CS_AS NULL ,
	[Harmonizing Tariff Code] [varchar] (20) COLLATE Latin1_General_CS_AS NULL ,
	[HubSort] [varchar] (50) COLLATE Latin1_General_CS_AS NULL ,
	[Last Direct Cost] [numeric](38, 20) NULL ,
	[LastCostM] [numeric](38, 6) NULL ,
	[Net Weight] [numeric](38, 20) NULL ,
	[PFC Forecast Daily Usage] [numeric](38, 20) NULL ,
	[Qty__Base UOM] [numeric](38, 20) NULL ,
	[Sales Velocity Code] [varchar] (10) COLLATE Latin1_General_CS_AS NULL ,
	[Size No_] [varchar] (4) COLLATE Latin1_General_CS_AS NULL ,
	[Super Equiv_ Qty_] [numeric](38, 20) NULL ,
	[Super Equiv_ UOM] [varchar] (10) COLLATE Latin1_General_CS_AS NULL ,
	[TotalStockOrders] [numeric](38, 20) NULL ,
	[Turn Ranking Code] [varchar] (10) COLLATE Latin1_General_CS_AS NULL ,
	[Unit Cost] [numeric](38, 20) NULL ,
	[Variance No_] [varchar] (3) COLLATE Latin1_General_CS_AS NULL ,
	[Weight_100] [numeric](38, 20) NULL ,
	[Curr3Mo] [int] NULL ,
	[Curr6Mo] [int] NULL ,
	[Curr12Mo] [int] NULL ,
	[Hist3Mo] [int] NULL ,
	[Hist6Mo] [int] NULL ,
	[Hist12Mo] [int] NULL ,
	[POQty] [numeric](38, 20) NULL ,
	[POCurr] [numeric](38, 20) NULL ,
	[PO30] [numeric](38, 20) NULL ,
	[PO60] [numeric](38, 20) NULL ,
	[PO90] [numeric](38, 20) NULL ,
	[SOCurr] [numeric](38, 20) NULL ,
	[SO30] [numeric](38, 20) NULL ,
	[SO60] [numeric](38, 20) NULL ,
	[SO90] [numeric](38, 20) NULL ,
	[ItemAvg3Mo] [numeric](38, 6) NULL ,
	[ItemAvg6Mo] [numeric](38, 6) NULL ,
	[ItemAvg12Mo] [numeric](38, 6) NULL ,
	[ItemUsage30day] [numeric](38, 17) NULL ,
	[ItemAvail] [numeric](38, 20) NULL ,
	[ItemOTW] [numeric](38, 20) NULL ,
	[ItemTRF] [numeric](38, 20) NULL ,
	[ItemOnOrder] [numeric](38, 20) NULL ,
	[ItemTotalStockOrders] [numeric](38, 20) NULL ,
	[ItemMonthAvail] [numeric](38, 6) NULL ,
	[ItemMonthOnOrder] [numeric](38, 6) NULL ,
	[ItemMonthTotal] [numeric](38, 6) NULL ,
	[PalletPtnr_Flag] [int] NULL ,
	[QOH] [numeric](38, 20) NULL ,
	[AllocTransfer] [numeric](38, 20) NULL ,
	[ReleaseProd] [numeric](38, 20) NULL ,
	[SOQty] [numeric](38, 20) NULL ,
	[OnOrder] [numeric](38, 20) NULL ,
	[Avail] [numeric](38, 20) NULL ,
	[OTW] [numeric](38, 20) NULL ,
	[TRF] [numeric](38, 20) NULL ,
	[A_Avg3Mo] [numeric](24, 6) NULL ,
	[A_Avg6Mo] [numeric](24, 6) NULL ,
	[A_Avg12Mo] [numeric](24, 6) NULL ,
	[A_Usg30day] [numeric](38, 17) NULL ,
	[A_QOH] [numeric](38, 20) NULL ,
	[A_AllocTransfer] [numeric](38, 20) NULL ,
	[A_ReleaseProd] [numeric](38, 20) NULL ,
	[A_SOQty] [numeric](38, 20) NULL ,
	[A_OnOrder] [numeric](38, 20) NULL ,
	[A_Avail] [numeric](38, 20) NULL ,
	[A_OTW] [numeric](38, 20) NULL ,
	[A_TRF] [numeric](38, 20) NULL ,
	[A_TotalStockOrders] [numeric](38, 20) NULL ,
	[A_ItemAvg3Mo] [numeric](38, 6) NULL ,
	[A_ItemAvg6Mo] [numeric](38, 6) NULL ,
	[A_ItemAvg12Mo] [numeric](38, 6) NULL ,
	[A_ItemUsage30day] [numeric](38, 17) NULL ,
	[A_ItemAvail] [numeric](38, 20) NULL ,
	[A_ItemOTW] [numeric](38, 20) NULL ,
	[A_ItemTRF] [numeric](38, 20) NULL ,
	[A_ItemOnOrder] [numeric](38, 20) NULL ,
	[A_ItemTotalStockOrders] [numeric](38, 20) NULL ,
	[A_ItemMonthAvail] [numeric](38, 6) NULL ,
	[A_ItemMonthOnOrder] [numeric](38, 6) NULL ,
	[A_ItemMonthTotal] [numeric](38, 6) NULL ,
	[A_Item01_Flag] [int] NULL ,
	[ROP] [numeric](38, 20) NULL ,
	[HubFlag] [char] (10) COLLATE Latin1_General_CS_AS NULL ,
	[ROPChange] [int] NULL ,
	[OW_Next] [numeric](38, 20) NULL ,
	[OW_NextDate] [datetime] NULL ,
	[ROPCalc] [numeric](38, 20) NULL ,
	[ROPCond] [numeric](38, 1) NULL ,
	[OO_Next] [numeric](38, 20) NULL ,
	[OO_NextDate] [datetime] NULL ,
	[CatGroupSort] [float] NULL ,
	[SupEqvPcs] [numeric](38, 20) NULL ,
	[ExtWtTot] [numeric](38, 20) NULL ,
	[ExtWtTrf] [numeric](38, 20) NULL ,
	[ExtWtAv] [numeric](38, 20) NULL ,
	[ExtWtOO] [numeric](38, 20) NULL ,
	[ExtWtOW] [numeric](38, 20) NULL ,
	[AvgUseLbs] [numeric](38, 20) NULL ,
	[AvgMoUsg] [numeric](38, 20) NULL ,
	[FV01] [char] (10) COLLATE Latin1_General_CS_AS NULL 
) ON [PRIMARY]
GO

