if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[tFix_ItemBranchUsage1]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tFix_ItemBranchUsage1]
GO

CREATE TABLE [dbo].[tFix_ItemBranchUsage1] (
	[pItemBranchUsageID] [numeric](9, 0) IDENTITY (1, 1) NOT NULL ,
	[Location] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ItemNo] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CurPeriodNo] [int] NULL ,
	[CurBegOnHandQty] [numeric](15, 4) NULL ,
	[CurBegOnHandDol] [numeric](15, 2) NULL ,
	[CurBegOnHandWght] [numeric](15, 4) NULL ,
	[CurNoofReceipts] [int] NULL ,
	[CurReceivedQty] [numeric](15, 4) NULL ,
	[CurReceivedDol] [numeric](15, 2) NULL ,
	[CurReceivedWght] [numeric](15, 4) NULL ,
	[CurNoofReturns] [int] NULL ,
	[CurReturnQty] [numeric](15, 4) NULL ,
	[CurReturnDol] [numeric](15, 2) NULL ,
	[CurReturnWght] [numeric](15, 4) NULL ,
	[CurNoofBackOrders] [int] NULL ,
	[CurBackOrderQty] [numeric](15, 4) NULL ,
	[CurBackOrderDol] [numeric](15, 2) NULL ,
	[CurBackOrderWght] [numeric](15, 4) NULL ,
	[CurNoofSales] [int] NULL ,
	[CurSalesQty] [numeric](15, 4) NULL ,
	[CurSalesDol] [numeric](15, 2) NULL ,
	[CurSalesWght] [numeric](15, 4) NULL ,
	[CurCostDol] [numeric](15, 2) NULL ,
	[CurNoofTransfers] [int] NULL ,
	[CurTransferQty] [numeric](15, 4) NULL ,
	[CurTransferDol] [numeric](15, 2) NULL ,
	[CurTransferWght] [numeric](15, 4) NULL ,
	[CurNoofIssues] [int] NULL ,
	[CurIssuesQty] [numeric](15, 4) NULL ,
	[CurIssuesDol] [numeric](15, 2) NULL ,
	[CurIssuesWght] [numeric](15, 4) NULL ,
	[CurNoofAdjust] [int] NULL ,
	[CurAdjustQty] [numeric](15, 4) NULL ,
	[CurAdjustDol] [numeric](15, 2) NULL ,
	[CurAdjustWght] [numeric](15, 4) NULL ,
	[CurNoofChanges] [int] NULL ,
	[CurChangeQty] [numeric](15, 4) NULL ,
	[CurChangeDol] [numeric](15, 2) NULL ,
	[CurChangeWght] [numeric](15, 4) NULL ,
	[CurNoofPO] [int] NULL ,
	[CurPOQty] [numeric](15, 4) NULL ,
	[CurPODol] [numeric](15, 2) NULL ,
	[CurPOWght] [numeric](15, 4) NULL ,
	[CurNoofGER] [int] NULL ,
	[CurGERQty] [numeric](15, 4) NULL ,
	[CurGERDol] [numeric](15, 2) NULL ,
	[CurGERWght] [numeric](15, 4) NULL ,
	[CurNoOfWorkOrders] [int] NULL ,
	[CurWorkOrderQty] [numeric](15, 4) NULL ,
	[CurWorkOrderDol] [numeric](15, 2) NULL ,
	[CurWorkOrderWght] [numeric](15, 4) NULL ,
	[CurLostSlsQty] [numeric](15, 4) NULL ,
	[CurDailySlsQty] [numeric](15, 4) NULL ,
	[CurDailyRetQty] [numeric](15, 4) NULL ,
	[CurEndOHQty] [numeric](15, 4) NULL ,
	[CurEndOHDol] [numeric](15, 2) NULL ,
	[CurEndOHWght] [numeric](15, 4) NULL ,
	[CurNoOfOrders] [int] NULL ,
	[CurNRSalesQty] [numeric](15, 2) NULL ,
	[EntryID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EntryDt] [datetime] NULL ,
	[ChangeID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ChangeDt] [datetime] NULL ,
	[StatusCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CurNRNoSales] [int] NULL ,
	[CurNRSalesDol] [decimal](18, 6) NULL ,
	[CurNRSalesWght] [decimal](18, 6) NULL ,
	[CurNRCostDol] [decimal](18, 6) NULL 
) ON [PRIMARY]
GO

