if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SODetailHist]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[SODetailHist]
GO

CREATE TABLE [dbo].[SODetailHist] (
	[pSODetailHistID] [int] IDENTITY (1, 1) NOT NULL ,
	[fSOHeaderHistID] [numeric](10, 0) NULL ,
	[LineNumber] [int] NULL ,
	[LineSeq] [int] NULL ,
	[LineType] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LinePriceInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LineReason] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LineReasonDsc] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LineExpdCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LineExpdCdDsc] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LineStatus] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[POLine] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TaxStatus] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ItemNo] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ItemDsc] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BinLoc] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[IMLoc] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DiscInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ReleaseInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CostInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ServChrgInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[XrefCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderLvlCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BOLCategoryCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PriceCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DealerCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LISC] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LISource] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[RevLvl] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QtyStat] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DealerNo] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ComPct] [numeric](5, 2) NULL ,
	[ComDol] [numeric](38, 20) NULL ,
	[NetUnitPrice] [numeric](38, 20) NULL ,
	[ListUnitPrice] [numeric](38, 20) NULL ,
	[DiscUnitPrice] [numeric](38, 20) NULL ,
	[DiscPct1] [smallint] NULL ,
	[DiscPct2] [smallint] NULL ,
	[DiscPct3] [smallint] NULL ,
	[QtyAvailLoc1] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QtyAvail1] [numeric](15, 2) NULL ,
	[QtyAvailLoc2] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QtyAvail2] [numeric](15, 2) NULL ,
	[QtyAvailLoc3] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[QtyAvail3] [numeric](15, 2) NULL ,
	[OrigOrderNo] [numeric](9, 0) NULL ,
	[OrigOrderLineNo] [numeric](9, 0) NULL ,
	[RqstdShipDt] [datetime] NULL ,
	[OrigShipDt] [datetime] NULL ,
	[ActualShipDt] [datetime] NULL ,
	[LineSchDtChange] [datetime] NULL ,
	[SuggstdShipDt] [datetime] NULL ,
	[DeleteDt] [datetime] NULL ,
	[QtyOrdered] [numeric](15, 2) NULL ,
	[QtyShipped] [numeric](15, 2) NULL ,
	[QtyBO] [numeric](15, 2) NULL ,
	[SellStkUM] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellStkFactor] [numeric](5, 0) NULL ,
	[UnitCost] [numeric](15, 5) NULL ,
	[UnitCost2] [numeric](15, 4) NULL ,
	[UnitCost3] [numeric](15, 5) NULL ,
	[RepCost] [numeric](15, 5) NULL ,
	[OECost] [numeric](15, 5) NULL ,
	[RebateAmt] [numeric](15, 5) NULL ,
	[SuggstdShipFrLoc] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SuggstdShipFrName] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[NoReschd] [smallint] NULL ,
	[Remark] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustItemNo] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustItemDsc] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BOMQtyPer] [numeric](10, 0) NULL ,
	[BOMQtyIssued] [numeric](10, 4) NULL ,
	[EntryDate] [datetime] NULL ,
	[EntryID] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ChangeDate] [datetime] NULL ,
	[ChangeID] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[StatusCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GrossWght] [numeric](15, 4) NULL ,
	[NetWght] [numeric](15, 4) NULL ,
	[ExtendedPrice] [decimal](18, 6) NULL ,
	[ExtendedCost] [decimal](18, 6) NULL ,
	[ExtendedNetWght] [decimal](18, 6) NULL ,
	[ExtendedGrossWght] [decimal](18, 6) NULL ,
	[SellStkQty] [decimal](18, 6) NULL ,
	[AlternateUM] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AlternateUMQty] [decimal](18, 6) NULL 
) ON [PRIMARY]
GO

