if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[fkfSOHeaderHistID]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[SODetailHist] DROP CONSTRAINT fkfSOHeaderHistID
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[SOHeaderHist]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[SOHeaderHist]
GO

CREATE TABLE [dbo].[SOHeaderHist] (
	[pSOHeaderHistID] [numeric](10, 0) IDENTITY (1, 1) NOT NULL ,
	[OrderNo] [numeric](10, 0) NULL ,
	[OrderRelNo] [numeric](4, 0) NULL ,
	[OrderType] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderTypeDsc] [varchar] (60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[InvoiceNo] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PriceCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DiscountCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TotalOrder] [numeric](38, 20) NULL ,
	[TotalCost] [numeric](38, 20) NULL ,
	[TotalCost2] [numeric](38, 20) NULL ,
	[CommDol] [numeric](15, 5) NULL ,
	[CommPct] [numeric](15, 4) NULL ,
	[DiscPct] [numeric](15, 4) NULL ,
	[ComSplit1] [numeric](5, 2) NULL ,
	[ComSplit2] [numeric](5, 2) NULL ,
	[ComSplit3] [numeric](5, 2) NULL ,
	[SlsRepId1] [numeric](9, 0) NULL ,
	[SlsRepId2] [numeric](9, 0) NULL ,
	[SlsRepId3] [numeric](9, 0) NULL ,
	[NetSales] [numeric](15, 5) NULL ,
	[TaxSum] [numeric](15, 5) NULL ,
	[NonTaxAmt] [numeric](15, 4) NULL ,
	[TaxExpAmt] [numeric](15, 4) NULL ,
	[NonTaxExpAmt] [numeric](15, 5) NULL ,
	[TaxAmt] [numeric](15, 5) NULL ,
	[CreditCdAmt] [numeric](15, 5) NULL ,
	[ShipWght] [numeric](15, 4) NULL ,
	[BOLWght] [numeric](15, 4) NULL ,
	[BillToCustNo] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToCustName] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToAddress1] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToAddress2] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToAddress3] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToCity] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToState] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToZip] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToProvince] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToCountry] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToContactName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToContactPhoneNo] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToCustNo] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToCustName] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToAddress1] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToAddress2] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToAddress3] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToCity] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToState] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToZip] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToProvince] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToCountry] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToContactName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SellToContactPhoneNo] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DeleteDt] [datetime] NULL ,
	[CompleteDt] [datetime] NULL ,
	[VerifyDt] [datetime] NULL ,
	[PrintDt] [datetime] NULL ,
	[InvoiceDt] [datetime] NULL ,
	[ARPostDt] [datetime] NULL ,
	[SchShipDt] [datetime] NULL ,
	[ConfirmShipDt] [datetime] NULL ,
	[PickDt] [datetime] NULL ,
	[PickCompDt] [datetime] NULL ,
	[AllocDt] [datetime] NULL ,
	[HoldDt] [datetime] NULL ,
	[OrderDt] [datetime] NULL ,
	[OrderPromDt] [datetime] NULL ,
	[OrderLoc] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderLocName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipLoc] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipLocName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UsageLoc] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UsageLocName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderStatus] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[HoldReason] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[HoldReasonName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PriceRvwFlag] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ReasonCd] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ReasonCdName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BOFlag] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderMethCd] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderMethName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderTermsCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderTermsName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderPriorityCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderPriName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderExpdCd] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderExpdCdName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TaxStat] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CreditStat] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SalesRepNo] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SalesRepName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustSvcRepNo] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustSvcRepName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CopiestoPrint] [smallint] NULL ,
	[OrderCarrier] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderCarName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CreditAuthNo] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BOLNO] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[NoCartons] [numeric](9, 0) NULL ,
	[ShipInstrCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipInstrCdName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SalesTaxRt] [numeric](7, 4) NULL ,
	[PORefNo] [numeric](10, 0) NULL ,
	[ResaleNo] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[VerifyType] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ConfirmDt] [datetime] NULL ,
	[RlsWhseDt] [datetime] NULL ,
	[StageDt] [datetime] NULL ,
	[StageBin] [numeric](10, 0) NULL ,
	[ConsolidateDt] [datetime] NULL ,
	[ComInvPrtDt] [datetime] NULL ,
	[ShippedDt] [datetime] NULL ,
	[CommMedia] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SubType] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[HeaderStatus] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrigShipDt] [datetime] NULL ,
	[OrigShipDt1] [datetime] NULL ,
	[OrigShipDt2] [datetime] NULL ,
	[OrigShipDt3] [datetime] NULL ,
	[OneTimeSTNo] [numeric](10, 0) NULL ,
	[LinesChanged] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LineItemOdom] [smallint] NULL ,
	[NoLaterDt] [datetime] NULL ,
	[CustoType] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustTypeName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ScanQty] [numeric](15, 2) NULL ,
	[ListCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AckPrintedDt] [datetime] NULL ,
	[CustShipLoc] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipThruLoc] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ReorderUseLoc] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[User2] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[User3] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[User4] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[User5] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShippingMark1] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShippingMark2] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShippingMark3] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShippingMark4] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderReprints] [int] NULL ,
	[DropVendorID] [numeric](9, 0) NULL ,
	[DropVendorName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[RecommendCarCd] [char] (5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[RecommendCarName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SurChargeInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SummaryBillInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ReferenceNo] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CashItemOdm] [smallint] NULL ,
	[CustTaxRateCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[StateTaxCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CountyTaxCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CityTaxCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TaxDistrict] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[RemitCd] [numeric](9, 0) NULL ,
	[DiscNet1PCt] [numeric](5, 2) NULL ,
	[DiscNet2PCt] [numeric](5, 2) NULL ,
	[DiscNet3PCt] [numeric](5, 2) NULL ,
	[ASNFmt] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[JobName] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[JobNo] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[JobLocation] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Destination] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[JobBuilding] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ASAPind] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipToCd] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipToName] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipToAddress1] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipToAddress2] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipToAddress3] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[City] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[State] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Zip] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PhoneNo] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[FaxNo] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ContactName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ContactPhoneNo] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Province] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Country] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CountryCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EntryDt] [datetime] NULL ,
	[EntryID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ChangeDt] [datetime] NULL ,
	[ChangeID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[StatusCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustPONo] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[RefSONo] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderFreightCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OrderFreightName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PendingDt] [datetime] NULL ,
	[ShipMethodName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Remarks] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TaxRateCd] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BranchReqDt] [datetime] NULL ,
	[OrderContactName] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

