if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[LocMaster]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[LocMaster]
GO

CREATE TABLE [dbo].[LocMaster] (
	[LocID] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocType] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocName] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocAdress1] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocAdress2] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocCity] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocState] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocPostCode] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocCountry] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocPhone] [varchar] (14) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocFax] [varchar] (14) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocEmail] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocContact] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DtFmt] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PhoneFmt] [varchar] (14) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PostCodeFmt] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[fVendorMasterID] [numeric](10, 0) NULL ,
	[AllocTypeCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CRCheckCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrmptReasonCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipMethCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ExpediteCd] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CurrencyFmtCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[POTaxStatus] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SrvrTimeZone] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocTimeZone] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DaylightSave] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CRDelinqDays] [smallint] NULL ,
	[SFZipDigits] [smallint] NULL ,
	[CostPctPrice] [smallint] NULL ,
	[InfoMsgSec] [smallint] NULL ,
	[ErrorMsgSec] [smallint] NULL ,
	[SwipePrmptSec] [smallint] NULL ,
	[PrmptSec] [smallint] NULL ,
	[RcvLblDfltNo] [smallint] NULL ,
	[RcvLblMaxNo] [smallint] NULL ,
	[ROPDays] [smallint] NULL ,
	[SSCC] [numeric](20, 0) NULL ,
	[WarehouseInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EnterSTInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GroupPricingInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[MaintainIMQtyInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ReqPOInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[MenusUsedInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ReqRequisitionInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[OEAutoHoldInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UseQueuesInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipHold1Ind] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[VendorPerformInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UseEDIInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrintRqstInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LotTrackInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PalletInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrmptBinInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SerialNoInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PackSlipPrintInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[InvoicePrintInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SerialNoPrintInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[RFPrintInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[FtCollectInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShippedOrderInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SuppDscPrintInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CostCtrInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipModuleInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UsePTLInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CIStartsJobInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[COStopsJobInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[StopJobStartJobInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[StartJobStopJobInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrmptWONoInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PrmptBadgeNoInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UseASNOdomInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipInFullInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ComplItemShipInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CartonPrintINd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ActivatePhyInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UseScaleInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TransferInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UseEFMenuInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ActivityPhyInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipConfirmInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DimensionInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PTLIMQtyInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SODupItemsInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LPNControlInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ILTBatchControlInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ILTStartTransInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ItemPromptInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EndCrtnDocsInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PickEndInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PickLabelInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[VendorPOInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UseOdomInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UnderRecPrmptInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SOEDetailItemInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AllowMultiCopiesInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CreateLPNPrmptInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AllowMultiLPNInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DefaultBinInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DefaultItemInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[MultiUMInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ReformToItemInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[MoveDocPromptInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SupportRepInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UseDefltSellStkUMInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocCrtnPrefix] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PTLCrtnPrefix] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ReceiverPrefix] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipperForm] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BOLForm] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[InvForm] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[POForm] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ARStmt] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[APCheck] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipLabel] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BlindRecForm] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AckDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BlindRcvDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BOLDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CheckDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DMDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[InvDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PODfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PSDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipLblDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[StmntDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CircaRPDfltHost] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PSHDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CInvDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PhysTagDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EntryDt] [datetime] NULL ,
	[EntryID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ChangeDt] [datetime] NULL ,
	[ChangeID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[StatusCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[WhseSQFT] [float] NULL ,
	[OfficeSQFT] [float] NULL ,
	[TotalSQFT] [float] NULL ,
	[LocSalesGrp] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocIMRegion] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[WCShipDftlPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[RmtShipDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PriorityShipDfltPrinter] [varchar] (80) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[HubSort] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AllowPartialRcptsInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[fTransVendorMasterID] [numeric](10, 0) NULL ,
	[ReceivingMode] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DefaultFromBinInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[USDutyCalcReq] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShortCode] [char] (3) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[LocName2] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[FFRegion] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[FFBranchGroup] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[FFGroupID] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SODisplayProd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SupportBranch1] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SupportBranch2] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SupportBranch3] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SupportBranch4] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[IMBranchSort] [int] NULL ,
	[IMDisplayColor] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BOEmailAddress] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[VirtualBinZone] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[RGAEmailAddress] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BigQuoteMinimum] [float] NULL ,
	[AssemblyLoc] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustMasterID] [int] NULL ,
	[SalesRegionNo] [int] NULL ,
	[RegionLocID] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

