
/* Div container to wrap the datagrid */
div#divdtlgrid {
width: 1000px;
height: 400px;
overflow: auto;
z-index: 99;
}

/* Locks the left column */
td.locked, th.locked {
padding-left: 5px;
position:relative;
/*background-color:#efefef;*/
border-bottom:0px;
border-top:0px;
border-left:0px;
border-right:solid 1px #DAEEEF;
cursor: default; 
left: expression(document.getElementById("divdtlgrid").scrollLeft-2); /*IE5+ only*/
}

	
tr.GridHead 
{
	border-bottom:0px;
	border-top:0px;
	border-left:0px;
	border-right:solid 1px #DAEEEF;
}

/* Locks table header */
tr.GridHead th {
position:relative;
cursor: default; 
top: expression(document.getElementById("divdtlgrid").scrollTop-2); /*IE5+ only*/
border-bottom:0px;
border-top:0px;
border-left:0px;
border-right:solid 1px #DAEEEF;
}


td.lock, th.lock {
padding-left: 5px;
position:relative;
/*background-color:#efefef;*/
border-bottom:0px;
border-top:0px;
border-left:0px;
border-right:solid 1px #DAEEEF;
cursor: default; 
z-index: 99;
top: expression(document.getElementById("divdtlgrid").scrollTop-2); /*IE5+ only*/
left: expression(document.getElementById("divdtlgrid").scrollLeft-2); /*IE5+ only*/
}


/* Keeps the header as the top most item. Important for top left item*/
th.locked {z-index: 99;}