if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CustomerMaster]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[CustomerMaster]
GO

CREATE TABLE [dbo].[CustomerMaster] (
	[pCustMstrID] [numeric](9, 0) IDENTITY (1, 1) NOT NULL ,
	[CustNo] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustName] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AltCustName] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SortName] [varchar] (40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustSearchKey] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustSlsRank] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[IMLoc] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BillToID] [numeric](9, 0) NULL ,
	[ShipToID] [numeric](9, 0) NULL ,
	[ARGLAcctID] [numeric](9, 0) NULL ,
	[CustType] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ContractNo] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DunsNo] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DunsRating] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Territory] [int] NULL ,
	[CustReg] [int] NULL ,
	[SalesOrgNo] [int] NULL ,
	[SlsRepNo] [int] NULL ,
	[SupportRepNo] [int] NULL ,
	[ResaleNo] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[UPSNo] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TaxStat] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CreditInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SummBillInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CycBillInd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DunInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BackOrderInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CreditAppInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CreditRvwInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[NetPriceInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[NextPriceInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AllowSubsInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AllowPartialsInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AllowDelProofInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AllowPTLInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ASNInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DelinqInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ChgBackInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[NickelSurChrgInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EDI870Ind] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[FinChrgInd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[StmtCopies] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[InvCopies] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CashStatus] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[InvSortOrd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TaxCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CustCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ReasonCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CLTradeCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[PriorityCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ExpediteCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipMethCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipViaCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ShipTermsCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TradeTermCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ConsMethCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DateCdLimit] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SerialNoCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[MultiTaxCd] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CashDiscCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[GLPostCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[DiscTypeCd] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[SIC] [int] NULL ,
	[LOB] [varchar] (6) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Rebate] [char] (4) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[InvInstr] [smallint] NULL ,
	[ShipInstr] [smallint] NULL ,
	[CreditLmt] [int] NULL ,
	[FirstActivityDt] [datetime] NULL ,
	[CreditRvwDT] [datetime] NULL ,
	[SoldSinceDt] [datetime] NULL ,
	[WriteOffDt] [datetime] NULL ,
	[DeleteDt] [datetime] NULL ,
	[LateChrgPct] [numeric](5, 2) NULL ,
	[DiscNet1] [numeric](5, 2) NULL ,
	[DiscNet2] [numeric](5, 2) NULL ,
	[DiscNet3] [numeric](5, 2) NULL ,
	[MinBillAmt] [numeric](15, 4) NULL ,
	[SvcChrgMo] [smallint] NULL ,
	[ZeroBalMo] [smallint] NULL ,
	[SpecialLbl] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ASNFormat] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[TypeofOrder] [varchar] (60) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EntryDt] [datetime] NULL ,
	[EntryID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ChangeDt] [datetime] NULL ,
	[ChangeID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[StatusCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ABCCd] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

