USE [PERP]
GO
/****** Object:  Table [dbo].[tWO2593_DashboardCustSalesGoal]    Script Date: 09/27/2012 12:03:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tWO2593_DashboardCustSalesGoal]') AND type in (N'U'))
DROP TABLE [dbo].[tWO2593_DashboardCustSalesGoal]