if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[CustCatSalesSummaryTEMP]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[CustCatSalesSummaryTEMP]
GO

CREATE TABLE [dbo].[CustCatSalesSummaryTEMP] (
	[pCustCatSlsSummID] [int] IDENTITY (1, 1) NOT NULL ,
	[CustomerNo] [varchar] (10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[Category] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[BuyCategory] [varchar] (20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[FiscalPeriodNo] [int] NULL ,
	[SalesDollars] [decimal](18, 6) NULL ,
	[SalesCost] [decimal](18, 6) NULL ,
	[NoofOrders] [decimal](18, 6) NULL ,
	[OtherSalesCost] [decimal](18, 6) NULL ,
	[OtherSalesDol] [decimal](18, 6) NULL ,
	[CommissionDollars] [decimal](18, 6) NULL ,
	[TotalWeight] [decimal](18, 6) NULL ,
	[PostingDt] [datetime] NULL ,
	[EntryID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[EntryDt] [datetime] NULL ,
	[ChangeID] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[ChangeDt] [datetime] NULL ,
	[StatusCd] [char] (2) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CategoryDesc] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[CalendarFiscalPeriod] [int] NULL ,
	[NoofPFCSOEQuotes] [int] NULL ,
	[NoofPFCSOEOrders] [int] NULL ,
	[NoofWebQuotes] [int] NULL ,
	[NoofWebOrders] [int] NULL ,
	[NoofDirectConnectQuotes] [int] NULL ,
	[NoofDirectConnectOrders] [int] NULL ,
	[NoofSDKQuotes] [int] NULL ,
	[NoofSDKOrders] [int] NULL ,
	[NoofInxSQLQuotes] [int] NULL ,
	[NoofInxSQLOrders] [int] NULL ,
	[NoofTimesFilledWeb] [int] NULL ,
	[NoofTimesPartialWeb] [int] NULL ,
	[NoofTimesZerosWeb] [int] NULL ,
	[NoofTimesFilledPFCSOE] [int] NULL ,
	[NoofTimesPartialPFCSOE] [int] NULL ,
	[NoofTimesZerosPFCSOE] [int] NULL ,
	[NoofTimesFilledDirectConnect] [int] NULL ,
	[NoofTimesPartialDirectConnect] [int] NULL ,
	[NoofTimesZerosDirectConnect] [int] NULL ,
	[NoofTimesFilledSDK] [int] NULL ,
	[NoofTimesPartialSDK] [int] NULL ,
	[NoofTimesZerosSDK] [int] NULL ,
	[NoofTimesFilledInxSQL] [int] NULL ,
	[NoofTimesPartialInxSQL] [int] NULL ,
	[NoofTimesZerosInxSQL] [int] NULL ,
	[NoofPFCSOEOnlyOrders] [int] NULL ,
	[BuyGroupDesc] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[AvgCostDollars] [decimal](18, 6) NULL ,
	[PriceCostDollars] [decimal](18, 6) NULL 
) ON [PRIMARY]
GO

